:root {
  --cor-preta: #000;
  --cor-branca: #FFF;
  --cor-cinza: #D9D9D9;
  --cor-verde: #2E8A43;
  --cor-verde-escura: #143D1E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Gabarito', sans-serif;
  font-size: 2rem;
  position: relative;
  min-height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.2rem;
  margin: 0;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

a {
  color: inherit;
}

.espacamento-fantasma {
  margin-bottom: 5rem;
  width: 100%;
}

.pagina-atual {
  color: var(--cor-verde);
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.link {
  text-decoration: underline;
  color: var(--cor-verde);
  transition: all 150ms ease-in-out;
}

.link:hover {
  color: var(--cor-verde-escura);
}

.fundo-branco {
  background-color: var(--cor-branca);
  color: var(--cor-preta);
}

.fundo-verde-escuro {
  background-color: var(--cor-verde-escura);
  color: var(--cor-verde);
}

.conteudo {
  max-width: 150rem;
  margin: 0 auto;
  padding: 5rem;
}

.centro {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

/* BARRA DE NAVEGAÇÃO */

.barra-navegacao {
  height: 10rem;
  border-bottom: solid 0.3rem var(--cor-cinza);
  display: flex;
  align-items: center;
}

.barra-navegacao .conteudo {
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
}

.nav-barra-navegacao {
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.logo {
  width: 7rem;
}

.menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.menu > li > a {
  color: inherit;
  position: relative;
  padding: 2rem;
  display: block;
}

.menu > li > a::after {
  content: '';
  position: absolute;
  bottom: 1rem;
  left: 50%;
  width: 0;
  height: 0.3rem;
  background-color: var(--cor-verde);
  transition: all 150ms ease-in-out;
  border-radius: 1rem;
}

.menu > li > a:hover::after {
  width: 75%;
  left: 12.5%;
}

.menu.active {
  left: 0;
}

.menu-mobile.active .bar:nth-child(2) {
  width: 0;
}

.menu-mobile.active .bar:nth-child(1) {
  transform: translateY(0.8rem) rotate(45deg);
}

.menu-mobile.active .bar:nth-child(3) {
  transform: translateY(-0.8rem) rotate(-45deg);
}

.login {
  display: flex;
  align-items: center;
  color: var(--cor-verde);
  border: solid 0.2rem var(--cor-verde);
  border-radius: 10rem;
  padding: 0.5rem;
  min-width: 20rem;
  min-height: 5rem;
  margin-left: auto;
  transition: all 150ms ease-in-out;
}

.login:hover {
  border-color: var(--cor-verde-escura);
}

.login > img {
  width: 3.5rem;
  height: 3.5rem;
  transition: all 150ms ease-in-out;
}

.login > img.foto-pessoal {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  object-position: center;
}

.login:hover > img {
  filter: brightness(0) saturate(100%) invert(16%) sepia(46%) saturate(714%) hue-rotate(82deg) brightness(98%) contrast(91%);
}

.login:hover > img.foto-pessoal {
  filter: none;
}

.login > p {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  transition: all 150ms ease-in-out;
}

.login:hover > p {
  color: var(--cor-verde-escura);
}

.menu-mobile {
  display: none;
  cursor: pointer;
  margin-right: 5rem;
}

.menu-mobile .bar {
  display: block;
  width: 2.8rem;
  height: 0.3rem;
  border-radius: 0.2rem;
  margin: 0.5rem auto;
  background-color: var(--cor-verde);
  transition: all 150ms ease-in-out;
}

.menu-mobile:hover .bar {
  background-color: var(--cor-verde-escura);
}

/* INÍCIO */

.imagem-inicio > .jogadores-inicio {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: 1;
}

.imagem-inicio > .logo-inicio {
  position: absolute;
  width: 20rem;
  z-index: 2;
}

.imagem-inicio {
  height: 60rem;
}

.sem-underline {
  text-decoration: none;
}

.cabecalho-noticias-inicio {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.noticias-inicio {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
  gap: 2rem;
}

.nenhuma-noticia-inicio {
  padding: 2rem;
  border: 0.3rem solid var(--cor-verde);
  border-radius: 1rem;
  color: var(--cor-verde);
}

.noticia-inicio > .titulo {
  background-color: var(--cor-verde);
  color: var(--cor-branca);
  border-radius: 1rem 1rem 0 0;
  transition: all 150ms ease-in-out;
}

.noticia-inicio > .titulo,
.noticia-inicio > .excerto {
  padding: 1rem;
}

.noticia-inicio {
  border: 0.3rem solid var(--cor-verde);
  border-radius: 2rem;
  transition: all 150ms ease-in-out;
}

.noticia-inicio:hover .titulo {
  background-color: var(--cor-verde-escura);
}

.noticia-inicio:hover {
  border-color: var(--cor-verde-escura);
}

.botao-fundo-verde {
  color: var(--cor-verde-escura);
  background-color: var(--cor-verde);
  border: 0.3rem solid var(--cor-verde);
  width: 30rem;
  height: 5rem;
  border-radius: 10rem;
  transition: all 150ms ease-in-out;
}

.botao-fundo-verde:hover {
  color: var(--cor-verde);
  background-color: var(--cor-verde-escura);
}

.secao-generica {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.secao-generica > img {
  width: 20rem;
}

/* HISTÓRIA */

.secao {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.secao-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10rem;
}

.texto-secao {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.imagem-secao-historia {
  border-radius: 3.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* TREINOS */

.tabela-treinos-container {
  width: 100%;
  border: 0.3rem solid var(--cor-verde);
  border-radius: 2rem;
}

.tabela-treinos {
  width: 100%;
  border-collapse: collapse;
}

.cabecalho-tabela {
  background-color: var(--cor-verde);
  color: var(--cor-branca);
}

.tabela-treinos p {
  word-break: break-all;
}

.tabela-treinos td, .tabela-treinos th {
  width: 50%;
  padding: 2rem 0.5rem;
}

.cabecalho-tabela th:first-child {
  border-top-left-radius: 1rem;
}

.cabecalho-tabela th:last-child {
  border-top-right-radius: 1rem;
}

.tabela-treinos tr:not(:last-child) td {
  border-bottom: 0.3rem solid var(--cor-verde);
}

.tabela-treinos tr:not(:last-child) td:first-child,
.tabela-treinos tr:last-child td:first-child {
  border-right: 0.3rem solid var(--cor-verde);
}

.tabela-treinos-container,
.nada-existente {
  margin-bottom: 5rem;
}

.coluna-esquerda > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.coluna-esquerda p {
  margin: 0 auto;
  text-align: center;
  padding-left: 0.5rem;
}

.icones {
  display: flex;
  gap: 1rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.icone,
.link-icone {
  width: 4rem;
  height: 4rem;
  transition: all 150ms ease-in-out;
}

.icone:hover {
  filter: brightness(0) saturate(100%) invert(16%) sepia(46%) saturate(714%) hue-rotate(82deg) brightness(98%) contrast(91%);
}

.botao-acao-adm {
  display: flex;
  gap: 2rem;
  align-items: center;
  color: var(--cor-verde);
  border: 0.3rem solid var(--cor-verde);
  padding: 0.5rem;
  border-radius: 10rem;
  transition: all 150ms ease-in-out;
}

.botao-acao-adm:hover {
  border-color: var(--cor-verde-escura);
  cursor: pointer;
}

.botao-acao-adm h3 {
  transition: all 150ms ease-in-out;
  margin-right: 1.5rem;
}

.botao-acao-adm:hover h3 {
  color: var(--cor-verde-escura);
}

.botao-acao-adm:hover .icone {
  filter: brightness(0) saturate(100%) invert(16%) sepia(46%) saturate(714%) hue-rotate(82deg) brightness(98%) contrast(91%);
}

/* ADICIONAR TREINO */

.formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-bottom: 5rem;
}

.grupo-campo {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 2rem;
}

.grupo-campo label {
  font-size: 2.8rem;
}

.grupo-campo input[type="text"] {
  border: 0.3rem solid var(--cor-verde);
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  outline: none;
  transition: all 150ms ease-in-out;
}

.grupo-campo input[type="text"]:focus {
  border-color: var(--cor-verde-escura);
}

.botoes-formulario {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

/* NOTÍCIAS */

section.noticias {
  margin-bottom: 5rem;
}

section .noticia {
  display: flex;
  gap: 2rem;
  transition: all 150ms ease-in-out;
  border-radius: 3rem;
  align-items: center;
}

section .noticia:hover {
  background-color: var(--cor-cinza);
}

.noticias {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
}

.capa-noticia {
  min-width: 25rem;
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  object-position: center;
  border-radius: 3rem;
}

.informacoes-noticia,
.informacoes-arquivo {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 2rem;
}

section .informacoes-noticia {
  padding: 1rem;
}

.data-publicacao-noticia,
.data-publicacao-arquivo {
  font-size: 1.6rem;
  color: var(--cor-verde);
}

.paginacao {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5rem;
}

.paginacao .primeira-pagina div,
.paginacao .ultima-pagina div {
  background-color: var(--cor-verde-escura);
  color: var(--cor-branca);
  transition: all 150ms ease-in-out;
  padding: 1rem 2rem;
  border-radius: 10rem;
}

.paginacao .primeira-pagina:hover div,
.paginacao .ultima-pagina:hover div {
  color: var(--cor-verde);
}

.paginacao .paginas-paginacao {
  display: flex;
  background-color: var(--cor-verde);
  color: var(--cor-branca);
  border-radius: 10rem;
  padding: 0 2rem;
}

.pagina-paginacao div {
  width: 100%;
  height: 100%;
  background-color: var(--cor-verde);
  padding: 1rem;
  transition: all 150ms ease-in-out;
}

.pagina-paginacao:hover div {
  color: var(--cor-verde-escura);
}

.pagina-paginacao.pagina-atual-paginacao div {
  color: var(--cor-verde-escura);
}

/* ADICIONAR NOTÍCIA */

.erro-formulario {
  padding: 2rem;
  border: 0.2rem solid #a31d1d;
  color: #a31d1d;
  border-radius: 1rem;
  background-color: #fda7a7;
}

.grupo-campo input[type="file"] {
  opacity: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.label-capa,
.label-anexo {
  display: flex;
  padding: 1rem 3rem;
  align-items: center;
  gap: 2rem;
  border: 0.3rem solid var(--cor-verde);
  border-radius: 10rem;
  width: fit-content;
  color: var(--cor-verde);
  transition: all 150ms ease-in-out;
  cursor: pointer;
  text-align: center;
}

.label-capa > .icone,
.label-anexo > .icone {
  width: 3rem;
  height: 3rem;
}

.label-capa:hover,
.label-anexo:hover {
  color: var(--cor-verde-escura);
  border-color: var(--cor-verde-escura);
}

.label-capa:hover > .icone,
.label-anexo:hover > .icone {
  filter: brightness(0) saturate(100%) invert(16%) sepia(46%) saturate(714%) hue-rotate(82deg) brightness(98%) contrast(91%);
}

/* VISUALIZAR NOTÍCIA */

.conteudo-noticia,
.conteudo-arquivo {
  max-width: 100rem;
  margin: 0 auto;
  padding: 5rem;
}

main.noticia,
main.arquivo {
  width: 100%;
}

main.noticia .capa-noticia {
  width: 100%;
  height: 40rem;
}

main.noticia .informacoes-noticia {
  margin-top: 5rem;
}

main.noticia .conteudo-noticia-bd,
main.arquivo .imagens-arquivo {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main.noticia + .icones,
main.arquivo + .icones {
  margin: 5rem 0 5rem auto;
}

main.noticia .barra,
main.arquivo .barra {
  margin: 5rem 0;
}

.conteudo-noticia-bd li {
  margin-left: 3rem;
}

/* EDITAR NOTÍCIA */

.label-capa + a {
  text-decoration: underline;
  color: var(--cor-verde);
  transition: all 150ms ease-in-out;
}

.label-capa + a:hover {
  color: var(--cor-verde-escura);
}

.form-editar-noticia .grupo-campo:first-of-type {
  display: block;
}

.form-editar-noticia .grupo-campo:first-of-type .label-capa {
  margin-bottom: 2rem;
}

.botoes {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 5rem;
  gap: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.botoes > .botao-acao-adm {
  margin: 0;
}

/* ARQUIVOS */

.link-botao {
  margin-bottom: 5rem;
}

.grid-arquivos .arquivo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 30rem;
  height: fit-content;
  transition: all 150ms ease-in-out;
  border-radius: 3rem;
}

.grid-arquivos .arquivo:hover {
  background-color: var(--cor-cinza);
}

.grid-arquivos .arquivo .capa-arquivo {
  min-width: 30rem;
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  object-position: center;
  border-radius: 3rem;
}

.grid-arquivos .arquivo .titulo-arquivo {
  margin: 0 1rem 1rem 1rem;
}

.grid-arquivos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, auto));
  width: 100%;
  justify-items: center;
  gap: 4rem;
  margin-bottom: 5rem;
}

main.noticia,
main.arquivo {
  margin-top: 5rem;
}

/* EDITAR ARQUIVO */

.grid-imagens {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, auto));
  width: 100%;
  justify-items: center;
  gap: 4rem;
  margin-bottom: 5rem;
}

.grid-imagens .imagem .imagem-arquivo {
  min-width: 30rem;
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  object-position: center;
  border-radius: 3rem;
}

.grid-imagens .imagem:hover {
  background-color: var(--cor-cinza);
}

.grid-imagens .imagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 30rem;
  height: fit-content;
  transition: all 150ms ease-in-out;
  border-radius: 3rem;
}

.grid-imagens .imagem .botao-acao-adm {
  margin: 1rem;
}

.checkbox-remover-imagem {
  margin: 0 1rem 1rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.checkbox-remover-imagem input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  accent-color: var(--cor-verde);
}

/* RODAPÉ */

.rodape {
  border-radius: 5rem 5rem 0 0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vw;
}

.rodape > .conteudo {
  display: flex;
}

.rodape > .conteudo > p {
  width: 50%;
}

.barra {
  border: solid 0.2rem var(--cor-verde);
  border-radius: 1rem;
  margin: 0 5rem;
}

/* LOGIN */

.pagina-login {
  padding: 5rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.tela-login {
  max-width: 56rem;
  min-height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  justify-self: center;
}

.cabecalho-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.logo-login {
  width: 9rem;
}

.campo-autenticacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.botao-login {
  background-color: var(--cor-verde);
  color: var(--cor-branca);
  width: 100%;
  height: 7rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 150ms ease-in-out;
}

.botao-login:hover {
  background-color: var(--cor-verde-escura);
}

.rodape-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.rodape-login > .barra {
  width: 28rem;
  margin: 0;
}

.imagem-login {
  max-width: 50vw;
  max-height: calc(100vh - 10rem);
}

.imagem-login > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5rem;
}

/* PERFIL */

.cabecalho {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  text-align: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.cabecalho > .barra, .informacoes-usuario + .barra {
  margin: 0;
}

.informacoes-usuario {
  padding-bottom: 5rem;
}

.informacoes-usuario + .barra {
  margin-bottom: 2.5rem;
}

.informacoes-usuario p {
  color: var(--cor-verde);
}

.informacoes-usuario h3 {
  margin-bottom: 1rem;
}

.matricula,
.nome,
.cpf,
.email,
.campus,
.tipo-usuario {
  margin-bottom: 4rem;
}

.form-sair {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5rem;
}

.botao,
.botao-link {
  background-color: var(--cor-verde);
  color: var(--cor-branca);
  height: 5rem;
  width: 15rem;
  border-radius: 5rem;
  font-weight: 700;
  font-size: 2rem;
  transition: all 150ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: 'Gabarito', sans-serif;
}

.botao:hover,
.botao-link:hover {
  background-color: var(--cor-verde-escura);
}

/* BREAKPOINTS */

@media screen and (max-width: 1200px) {
  .menu {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (max-width: 1100px) {
  .login > p {
    display: none;
  }
  .login {
    min-width: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  .logo {
    display: none;
  }
  .menu {
    padding-left: 0;
  }
  .imagem-login {
    display: none;
  }
  .pagina-login {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 880px) {
  .menu {
    gap: 0;
    padding-right: 2.5rem;
  }
  .secao-grid {
    grid-template-columns: none;
    grid-template-rows: auto 1fr;
    gap: 5rem;
  }
  section .noticia {
    flex-direction: column;
  }
  section .noticia .capa-noticia,
  .capa-arquivo {
    width: 100%;
  }
}

@media screen and (max-width: 780px) {
  .menu > li > a {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .botoes-formulario,
  .adicionar-arquivos {
    justify-content: center;
  }
  .label-anexo,
  .label-capa {
    width: auto;
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .rodape > .conteudo {
    flex-direction: column;
  }
  .rodape > .conteudo > .barra {
    margin: 5rem 0;
  }
  .rodape > .conteudo > p {
    width: 100%;
  }
}

@media screen and (max-width: 680px) {
  .menu-mobile {
    display: block;
  }
  .menu {
    position: absolute;
    left: -100%;
    top: 10rem;
    padding-right: 0;
    flex-direction: column;
    text-align: center;
    width: 100%;
    border-radius: 0 0 3rem 3rem;
    background-color: var(--cor-branca);
    align-items: center;
    transition: all 150ms ease-in-out;
    z-index: 3;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 0px 25px 30px 0px rgba(0, 0, 0, 15%);
  }
  .menu > li > a {
    width: fit-content;
  }
  .login {
    margin: 0;
    margin-right: auto;
  }
}

@media screen and (max-width: 530px) {
  .cabecalho-noticias-inicio {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    text-align: left;
  }
}

@media screen and (max-width: 450px) {
  .pagina-login {
    padding: 2.5rem;
  }
  .tela-login {
    min-height: calc(100vh - 5rem);
  }
  .botao-fundo-verde {
    width: 20rem;
  }
}
