{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="{% static "global/img/favicon.ico" %}" type="image/x-icon">
<link rel="stylesheet" href="{% static "global/css/remedy.css" %}">
<link rel="stylesheet" href="{% static "sportscenterifcn/css/style.css" %}">
