{% load static %}

<aside class="barra-navegacao fundo-branco">
  <div class="conteudo">
    <img class="logo" src="{% static "global/img/logo.png" %}" alt="Logo do Sports Center IFCN.">
    <ul class="menu">
      <li><a href="{% url "sportscenterifcn:inicio" %}">Início</a></li>
      <li><a href="{% url "sportscenterifcn:noticias" %}">Notícias</a></li>
      <li><a href="{% url "sportscenterifcn:arquivos" %}">Arquivos</a></li>
      <li><a href="{% url "sportscenterifcn:treinos" %}">Treinos</a></li>
      <li><a href="{% url "sportscenterifcn:historia" %}">História</a></li>
    </ul>
    {% if user.is_authenticated %}
      <a class="login" href="{% url "sportscenterifcn:perfil" %}">
        <img class="foto-pessoal" src="https://suap.ifrn.edu.br{{ usuario.foto }}" alt="Ícone de usuário.">
        <p class="regular">{{ usuario.nome }}</p>
      </a>
    {% else %}
      <a class="login" href="{% url "sportscenterifcn:login" %}">
        <img src="{% static "global/img/icone-usuario.png" %}" alt="Ícone de usuário.">
        <p>Login</p>
      </a>
    {% endif %}
  </div>
</aside>
