html {
  font-size: 62.5%;
}

body {
  font-family: 'Gabarito', sans-serif;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 50px;
  width: 100%; /*a proporção da largura é 1920% maior que a altura -> ('height * 19.2 = width')*/
  background-color: #fff;
  box-shadow: 5px 0px 15px grey;
  display: flex;
}

#half-left {
  width: 492.48px; /*a proporção é 51,30% da largura da tag "nav"*/
  height: 100%;
  display: flex;
}

#half-right {
  width: 467.52px; /*a proporção é 48,70% da largura da tag "nav"*/
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#child-half-left {
  width: 172.52px; /*a proporção é 35,03% da largura da div "half-left"*/
  height: 100%;
  display: flex;
  align-items: center;
}

#child-half-right {
  width: 319.96px; /*a proporção é 64,97% da largura da div "half-left"*/
  height: 100%;
  display: flex;
  align-items: center;
}

#icon-container {
  width: 34.6px; /*a proporção da largura é 19,71% da largura da div "child-half-left"*/
  height: 38px; /*a proporção da altura é 76% da altura da tag "nav"*/
  margin-left: 100.01px; /*a proporção da margem esquerda é 57,97% da largura da div "child-half-left"*/
  object-fit: cover;
  overflow: hidden;
}

#icon-container > img {
  width: 100%;
  height: auto;
}

#half-right > button {
  margin-right: 100px;
  width: 107.5px; /*a proporção da largura é 22,99% da largura da div "half-right"*/
  height: 25px; /*a proporção da altura é de 50% a altura da tag "nav"*/
  border-radius: 28px;
  border: 1.5px solid #2e8a43; /*a espessura da borda é metade de 12% da altura do botão ->(('height' * 0.12) / 2) = espessura da borda*/
  background-color: #fff;
  color: #2e8a43;
  font-size: 12px; /*size equivale a 48% a altura do botão*/
  font-weight: 350; /*a proporção do weight é de 29,17 vezes maior que a font-size -> ('font-size' * 29,17) = weight*/
  display: flex;
  transition: filter 0.3s;
}

#half-right > button:hover {
  filter: brightness(115%);
  cursor: pointer;
}

#half-right > button:active {
  scale: 0.95;
}

#login-icon {
  height: 17px; /*a proporção da altura é de 68% a altura do botão*/
  width: 17px; /*a largura é igual a altura*/
}

button > div:nth-child(1) {
  width: 39px; /*a proporção da largura é de metade de 72,56% da largura do botão -> (('largura do botão' * 0.7256) / 2) = width*/
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

button > div:nth-child(2) {
  width: 29.5px; /*a proporção da alrgura é de 27,44% da largura do botão -> ('largura do botão' * 0.2744) = width*/
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button > div:nth-child(3) {
  width: 39px; /*a proporção da largura é de metade de 72,56% da largura do botão -> (('largura do botão' * 0.7256) / 2) = width*/
  height: 100%;
}

#links-nav {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#links-nav > li {
  display: inline;
  float: left;
}

#link-nav {
  font-size: 12px;
  font-weight: 350;
  transition: color 0.3s;
}

.ativo {
  color: #2e8a43;
}

#link-nav:not(.treinos) {
  padding-right: 29.98px; /*a proporção é de 9,37% da largura da div 'child-half-right'*/
}

#link-nav:hover {
  color: #2e8a43;
  cursor: pointer;
}

@media screen and (max-width: 1920px) {
  nav {
    height: 80px;
  }

  #half-left {
    width: 787.97px;
  }

  #half-right {
    width: 748.03px;
  }

  #child-half-left {
    width: 276.02px;
  }

  #child-half-right {
    width: 511.94px;
  }

  #icon-container {
    width: 54.4px;
    height: 60.8px;
    margin-left: 160.01px;
  }

  #half-right > button {
    width: 171.97px;
    height: 40px;
    border: 2.4px solid green;
    font-size: 19.2px;
    font-weight: 600;
  }

  #login-icon {
    height: 27.2px;
    width: 27.2px;
  }

  button > div:nth-child(1) {
    width: 62.39px;
  }

  button > div:nth-child(2) {
    width: 47.19px;
  }

  button > div:nth-child(3) {
    width: 62.39px;
  }

  #link-nav {
    font-size: 19.2px;
    font-weight: 600;
  }

  #link-nav:not(.treinos) {
    padding-right: 47.97px;
  }
}

@media screen and (max-width: 1440px) {
  nav {
    width: 100%;
    height: 75px;
  }

  #half-left {
    width: 738.72px;
  }

  #half-right {
    width: 701.28px;
  }

  #child-half-left {
    width: 258.77px;
  }

  #child-half-right {
    width: 479.95px;
  }

  #icon-container {
    width: 51px;
    height: 57px;
    margin-left: 150px;
  }

  #half-right > button {
    width: 161.22px;
    height: 37.95px;
    border: 2.25px solid green;
    font-size: 18px;
    font-weight: 600;
  }

  #login-icon {
    height: 25.5px;
    width: 25.5px;
  }
  
  button > div:nth-child(1) {
    width: 58.49px;
  }

  button > div:nth-child(2) {
    width: 44.24px;
  }

  button > div:nth-child(3) {
    width: 58.49px;
  }

  #link-nav {
    font-size: 18px;
    font-weight: 600;
  }

  #link-nav:not(.treinos) {
    padding-right: 44.97px;
  }
}

.wallpaper{
    width: 100%;
    
    margin-top: 80px;
    
    object-fit: cover;
    overflow: hidden;
}
.wallpaper > img{
    height: auto;
    width: 100%;
}


.carrossel_div{
    height: 528px;
    width: 100%;
    
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex;
}
.carrossel_container{
    width: 1216px;
    height: 262px;
    
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.top_c{
    width: 1120px;
    
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.top_c > div{
    display: flex;
    gap: 10px;
}
.top_c > p{
    padding: 0;
    margin: 0;
    
    font-family: 'Gabarito', Times;
    font-weight: 600;
    font-size: 24px;
}

.bottom_c{
    height: 216px;
    width: 100%;
    
    display: flex;
    gap: 15px;
}
.block_c{
    width: 340px;
    height: 100%;
    border-radius: 15px;
    border: 3px solid #2E8A43;
}
.block_c > div:nth-child(1){
    height: 23%;
    width: 100%;
    background-color: #2E8A43;
    border-radius: 12px 12px 0px 0px;
    color: #fff;
    font-family: 'Gabarito';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}
.block_c > div:nth-child(2){
    height: 77%;
    width: 100%;
    border-radius: 0px 0px 15px 15px;
    font-family: 'Gabarito', Times;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}
.block_n{
    margin: 18px;
}
.slides_btn{
    height: 35px;
    width: 35px;
    
    background-color: #D9D9D9;
    border-radius: 50%;
    border: none;
    
    color: #666464;
    font-weight: 700;
    font-size: 24px;
    
    transition: filter 0.3s;
}
.slides_btn:hover{
    filter: brightness(105%);
    cursor: pointer;
}
.slides_btn:active{
    transform: scale(0.9);
}


.treino_div{
    height: 400px;
    width: 100%;
    
    background-color: #143D1E;
    
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 20%;
}


.historia_div{
    height: 512px;
    width: 100%;
    
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 5%;
}
#img_trofeu{
    width: 200px;
    height: auto;
}



.arquivos_div{
    height: 450px;
    width: 100%;
    
    background-color: #143D1E;
    
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 20%;
}


#h_link{
    color: #2E8A43;
}
#h_link:hover{
    filter: brightness(120%);
}
.titulo_div{
    width: 1216px;
}
.pre_footer{
    height: 276px;
    width: 100%;
    
    justify-content: center;
    align-items: center;
    display: flex;
}
.titulo_div > p{
    margin: 0px;
    
    font-family: 'Gabarito', Times;
    text-align: center;
    font-weight: 600;
    font-size: 28px;
}
.titulo_div > p:not(.fontb){
    color: #2E8A43;
}
.botao{
    width: 448.05px;
    height: 56px;
    
    font-family: 'Gabarito', Times;
    color: #143D1E;
    font-weight: 600;
    font-size: 19px;
    
    background-color: #2E8A43;
    border-radius: 35px;
    border: 0px;
    
    transition: filter 0.3s;
}
.botao:hover{
    filter: brightness(120%);
    cursor: pointer;
}
.botao:active{
    scale: 0.98;
}


footer{
    height: 220px; /*a proporção é de 11,45% da largura*/ 
    width: 100%; /*mesma largura da tag 'nav'*/
    
    border-radius: 28px 28px 0 0;
    background-color: #143D1E;

    justify-content: center;
    align-items: center;
    display: flex;
}
.div_footer{
    width: 1216px; /*a proporção é de 79,17% da largura do 'footer'*/
    height: 120px; /*a proporção é de 54,54% da altura do 'footer'*/

    display: flex;
}
.div_footer > div:not(div:nth-child(2)){
    width: 607.95px; /*a proporção é de 39.58% da largura do 'footer'*/
    height: 100%;
}
.div_footer > div:nth-child(3){
    flex-direction: row-reverse;
    display: flex;
}
.div_footer > div:nth-child(2){
    height: 100%;
    width: 1px;

    background-color: #2E8A43;
    border-radius: 50%;
}
.footer_text{
    width: 537.6px; /*a proporção é de 35% da largura do 'footer'*/
    height: 100%;

    font-family: 'Gabarito', Times;
    color: #2E8A43;
    font-size: 16px; /*a proporção é de 83,33% do tamanho da font da tag 'nav'*/

    justify-content: space-between;
    flex-direction: column;
    display: flex;
}
.footer_text > div > p{
    margin: 0px;
}
