{% extends "sportscenterifcn/pages/base.html" %}

{% load static %}

{% block titulo %}Notícias - Editar - {{ noticia.titulo }} - Sports Center IFCN{% endblock titulo %}

{% block conteudo %}
  <div class="conteudo fundo-branco">
    <header class="cabecalho">
      <h1>Editar Notícia</h1>
      <div class="barra"></div>
    </header>
    <div class="centro">
      <form class="formulario form-editar-noticia" action="{{ form_action }}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
          <div class="erro-formulario">
            Por favor, preencha o formulário corretamente.
          </div>
        {% endif %}
        {% for campo in form %}
          <div class="grupo-campo">
            {% if campo.label == "Capa" %}
              <label class="label-capa bold" for="{{ campo.id_for_label }}">
                <img class="icone" src="{% static "sportscenterifcn/icons/upload.png" %}" alt="Ícone de upload.">
                <h3 id="texto-label-capa">Selecionar arquivo para capa...</h3>
              </label>
            {% else %}
              <label class="bold" for="{{ campo.id_for_label }}">{{ campo.label }}</label>
            {% endif %}
            {{ campo }}
          </div>
        {% endfor %}
        <div class="botoes-formulario">
          <a class="botao-link" href="{% url "sportscenterifcn:visualizar_noticia" noticia.slug %}">Cancelar</a>
          <button class="botao" type="submit">Salvar</button>
        </div>
      </form>
    </div>
  </div>
  <script>
    let inputCapa = document.getElementById('id_capa');
    let textoLabelCapa = document.getElementById('texto-label-capa');
    inputCapa.addEventListener('change', function() {
      if (inputCapa.files.length == 1) {
        textoLabelCapa.textContent = inputCapa.files[0].name;
      } else {
        textoLabelCapa.textContent = 'Selecionar arquivo para capa...';
      }
    })
    let grupoCampoInputCapa = inputCapa.parentNode;
    let tagBr = grupoCampoInputCapa.querySelector('br');
    let capaAtual = grupoCampoInputCapa.querySelector('a');
    capaAtual.setAttribute('target', '_blank');
    grupoCampoInputCapa.removeChild(tagBr);
    for (let i = 0; i < grupoCampoInputCapa.childNodes.length; i++) {
      let node = grupoCampoInputCapa.childNodes[i];
      console.log(node);
      if ((node.nodeType === Node.TEXT_NODE && node.nodeValue.trim() === 'Modificar:')) {
        grupoCampoInputCapa.removeChild(node);
        break;
      }
    }
  </script>
{% endblock conteudo %}
