{% extends "sportscenterifcn/pages/base.html" %}

{% block titulo %}História - Sports Center IFCN{% endblock titulo %}

{% block conteudo %}
  <div class="fundo-branco">
    <div class="secao-1 conteudo centro">
      <h1>Seção 1</h1>
    </div>
  </div>
  <div class="fundo-verde-escuro">
    <div class="secao-2 conteudo centro">
      <h1>Seção 2</h1>
    </div>
  </div>
  <div class="fundo-branco">
    <div class="secao-3 conteudo centro">
      <h1>Seção 3</h1>
    </div>
  </div>
{% endblock conteudo %}
