{% extends "sportscenterifcn/pages/base.html" %}

{% load static %}

{% block titulo %}História - Sports Center IFCN{% endblock titulo %}

{% block conteudo %}
  <div class="fundo-branco">
    <div class="secao secao-grid conteudo">
      <div class="texto-secao">
        <h1>Origens do Ginásio</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate ut pharetra sit amet aliquam. Orci nulla pellentesque dignissim enim. Sit amet luctus venenatis lectus. Non quam lacus suspendisse faucibus interdum posuere lorem ipsum. Dictum at tempor commodo ullamcorper a lacus vestibulum. Et netus et malesuada fames ac turpis. Molestie nunc non blandit massa enim nec. Etiam erat velit scelerisque in dictum non consectetur a erat. Ut aliquam purus sit amet luctus venenatis lectus. Fermentum odio eu feugiat pretium nibh ipsum consequat nisl vel.</p>
      </div>
      <img class="imagem-secao-historia" src="{% static "sportscenterifcn/img/ginasio.jpg" %}" alt="Ginásio do IFRN Campus Currais Novos.">
    </div>
  </div>
  <div class="fundo-verde-escuro">
    <div class="secao conteudo">
      <div class="texto-secao centro">
        <h1>Conquistas e Troféus</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate ut pharetra sit amet aliquam. Orci nulla pellentesque dignissim enim. Sit amet luctus venenatis lectus. Non quam lacus suspendisse faucibus interdum posuere lorem ipsum. Dictum at tempor commodo ullamcorper a lacus vestibulum. Et netus et malesuada fames ac turpis. Molestie nunc non blandit massa enim nec. Etiam erat velit scelerisque in dictum non consectetur a erat. Ut aliquam purus sit amet luctus venenatis lectus. Fermentum odio eu feugiat pretium nibh ipsum consequat nisl vel.</p>
      </div>
    </div>
  </div>
  <div class="fundo-branco">
    <div class="secao secao-grid conteudo">
      <img class="imagem-secao-historia" src="{% static "sportscenterifcn/img/ginasio.jpg" %}" alt="Ginásio do IFRN Campus Currais Novos.">
      <div class="texto-secao">
        <h1>Futuro Promissor</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate ut pharetra sit amet aliquam. Orci nulla pellentesque dignissim enim. Sit amet luctus venenatis lectus. Non quam lacus suspendisse faucibus interdum posuere lorem ipsum. Dictum at tempor commodo ullamcorper a lacus vestibulum. Et netus et malesuada fames ac turpis. Molestie nunc non blandit massa enim nec. Etiam erat velit scelerisque in dictum non consectetur a erat. Ut aliquam purus sit amet luctus venenatis lectus. Fermentum odio eu feugiat pretium nibh ipsum consequat nisl vel.</p>
      </div>
    </div>
  </div>
  <div class="fundo-verde-escuro">
    <div class="secao conteudo">
      <div class="texto-secao centro">
        <h1>Novas Instalações</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate ut pharetra sit amet aliquam. Orci nulla pellentesque dignissim enim. Sit amet luctus venenatis lectus. Non quam lacus suspendisse faucibus interdum posuere lorem ipsum. Dictum at tempor commodo ullamcorper a lacus vestibulum. Et netus et malesuada fames ac turpis. Molestie nunc non blandit massa enim nec. Etiam erat velit scelerisque in dictum non consectetur a erat. Ut aliquam purus sit amet luctus venenatis lectus. Fermentum odio eu feugiat pretium nibh ipsum consequat nisl vel.</p>
      </div>
    </div>
  </div>
  <div class="fundo-branco">
    <div class="secao secao-grid conteudo">
      <div class="texto-secao">
        <h1>Expansão da Comunidade</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate ut pharetra sit amet aliquam. Orci nulla pellentesque dignissim enim. Sit amet luctus venenatis lectus. Non quam lacus suspendisse faucibus interdum posuere lorem ipsum. Dictum at tempor commodo ullamcorper a lacus vestibulum. Et netus et malesuada fames ac turpis. Molestie nunc non blandit massa enim nec. Etiam erat velit scelerisque in dictum non consectetur a erat. Ut aliquam purus sit amet luctus venenatis lectus. Fermentum odio eu feugiat pretium nibh ipsum consequat nisl vel.</p>
      </div>
      <img class="imagem-secao-historia" src="{% static "sportscenterifcn/img/ginasio.jpg" %}" alt="Ginásio do IFRN Campus Currais Novos.">
    </div>
  </div>
{% endblock conteudo %}
