{% extends "global/pages/base.html" %}

{% load static %}

{% block titulo %}Login - Sports Center IFCN{% endblock titulo %}

{% block pagina %}
  <div class="pagina-login fundo-branco">
    <div class="tela-login">
      <header class="cabecalho-login">
        <img class="logo-login" src="{% static "global/img/logo.png" %}" alt="Logo do Sports Center IFCN.">
        <h1>Bem-vindo(a) ao Sports Center IFCN</h1>
        <p>Conecte-se com a sua conta do SUAP</p>
      </header>
      <div class="campo-autenticacao">
        <a class="botao-login" href="{% url "social:begin" "suap" %}">
          <b>Autenticar com o SUAP</b>
        </a>
        <p>Deseja voltar para o início? <a class="link" href="{% url "sportscenterifcn:inicio" %}">Clique aqui</a>.</p>
      </div>
      <footer class="rodape-login">
        <p>Fique informado e saiba tudo sobre os esportes no campus</p>
        <div class="barra"></div>
      </footer>
    </div>
    <div class="imagem-login">
      <img src="{% static "global/img/imagem-login.png" %}" alt="Imagem do time de futsal do IFCN com um filtro verde.">
    </div>
  </div>
{% endblock pagina %}
