{% extends "sportscenterifcn/pages/base.html" %}

{% block titulo %}Perfil - {{ usuario.nome }} - Sports Center IFCN{% endblock titulo %}

{% block conteudo %}
  {% if user.is_authenticated %}
    <div class="conteudo fundo-branco">
      <header class="cabecalho">
        <h1>Perfil</h1>
        <div class="barra"></div>
      </header>
      <div class="informacoes-usuario">
        <div class="matricula">
          <h3>Matrícula</h3>
          <p>{{ usuario.matricula }}</p>
        </div>
        <div class="nome">
          <h3>Nome</h3>
          {% if usuario.nome_social %}
            <p>{{ usuario.nome_social }}</p>
          {% else %}
            <p>{{ usuario.nome_registro }}</p>
          {% endif %}
        </div>
        <div class="cpf">
          <h3>CPF</h3>
          <p>{{ usuario.cpf }}</p>
        </div>
        {% if emails|length > 0 %}
          <div class="email">
            <h3>E-mails</h3>
            {% for email in emails %}
              <p>{{ email }}</p>
            {% endfor %}
          </div>
        {% endif %}
        <div class="campus">
          <h3>Campus</h3>
          <p>{{ usuario.campus }}</p>
        </div>
        <div class="tipo-usuario">
          <h3>Tipo de Usuário</h3>
          <p>{{ usuario.tipo_usuario }}</p>
        </div>
        <div class="data-nascimento">
          <h3>Data de Nascimento</h3>
          <p>{{ usuario.data_nascimento|date:"d/m/Y" }}</p>
        </div>
      </div>
      <div class="barra"></div>
      <form id="form-sair" class="form-sair" method="post" action="{% url 'sportscenterifcn:logout' %}">
        {% csrf_token %}
        <button class="botao botao-sair" type="submit">Sair</button>
      </form>
    </div>
    {% if not user.is_authenticated %}
      <script>
        $("#form-sair").submit(function(event) {
          event.preventDefault();
          window.location.href="https://suap.ifrn.edu.br/accounts/logout/";
          this.submit();
        });
      </script>
    {% endif %}
  {% endif %}
{% endblock conteudo %}
