{% extends "sportscenterifcn/pages/base.html" %}

{% load static %}

{% block titulo %}Treinos - Sports Center IFCN{% endblock titulo %}

{% block conteudo %}
  <div class="conteudo fundo-branco">
    <header class="cabecalho">
      <h1>Treinos</h1>
      <div class="barra"></div>
    </header>
    <div class="centro">
      {% if treinos|length > 0 %}
        <div class="tabela-treinos-container">
          <table class="tabela-treinos">
            <thead class="cabecalho-tabela">
              <tr>
                <th>Esporte</th>
                <th>Dia(s) e Horário(s)</th>
              </tr>
            </thead>
            <tbody>
              {% for treino in treinos %}
                <tr>
                  <td class="coluna-esquerda">
                    <div>
                      {% if usuario.permissao_administrador %}
                        <div class="icones">
                          <a class="link-icone" href="{% url "sportscenterifcn:editar_treino" treino.id %}">
                            <img src="{% static "sportscenterifcn/icons/editar.png" %}" alt="Ícone de editar." class="icone">
                          </a>
                          <a class="link-icone" href="{% url "sportscenterifcn:remover_treino" treino.id %}">
                            <img src="{% static "sportscenterifcn/icons/remover.png" %}" alt="Ícone de remover." class="icone">
                          </a>
                        </div>
                      {% endif %}
                      <p>{{ treino.esporte }}</p>
                    </div>
                  </td>
                  <td class="coluna-direita">
                    <p>{{ treino.dia_horario }}</p>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <h3 class="nenhum-treino-cadastrado">Nenhum treino foi cadastrado.</h3>
      {% endif %}
      {% if usuario.permissao_administrador %}
        <a href="{% url "sportscenterifcn:adicionar_treino" %}">
          <div class="botao-adicionar-treino">
            <img src="{% static "sportscenterifcn/icons/adicionar.png" %}" alt="Ícone de adicionar." class="icone">
            <h3>Adicionar Treino</h3>
          </div>
        </a>
      {% endif %}
    </div>
  </div>
{% endblock conteudo %}
