{% extends "sportscenterifcn/pages/base.html" %}

{% load static %}

{% block titulo %}Notícias - Sports Center IFCN{% endblock titulo %}

{% block conteudo %}
  <div class="conteudo-noticia fundo-branco">
    <div class="centro">
      <main class="noticia">
        <img src="{{ noticia.capa.url }}" alt="Capa da notícia." class="capa-noticia">
        <div class="informacoes-noticia">
          <h2 class="titulo-noticia">{{ noticia.titulo }}</h2>
          <p class="excerto">{{ noticia.excerto }}</p>
          <p class="data-publicacao-noticia">{{ noticia.criada_em|date:"d/m/Y" }} - {{ noticia.criada_em|date:"H\hi\m\i\n" }}</p>
        </div>
        <div class="barra"></div>
        <div class="conteudo-noticia-bd">
          {{ noticia.conteudo|safe }}
        </div>
      </main>
      {% if usuario.permissao_administrador %}
        <div class="botoes">
          <a href="{% url "sportscenterifcn:editar_noticia" noticia.slug %}" class="botao-acao-adm">
            <img src="{% static "sportscenterifcn/icons/editar.png" %}" alt="Ícone de adicionar." class="icone">
            <h3>Editar Notícia</h3>
          </a>
          <a href="{% url "sportscenterifcn:remover_noticia" noticia.slug %}" class="botao-acao-adm">
            <img src="{% static "sportscenterifcn/icons/remover.png" %}" alt="Ícone de adicionar." class="icone">
            <h3>Remover Notícia</h3>
          </a>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock conteudo %}
